%html
  %body
    .flash-box
      .notice
        グループを作成しました
    .wrapper
      .chat-side
        .side-header
          %p.side-header__user-name
            tarou
          %ul.user-menu
            %li.user-menu__new-group
              %a{href:""}
                %i.far.fa-edit
            %li.user-menu__edit-user              
              %a{href:""}
                %i.fas.fa-cog
        .groups
          %a{href:""}
            .group
              %p.group__group-name
                sample
              %p.group__latest-message
                Hello world!
          %a{href:""}
            .group
              %p.group__group-name
                sample2
              %p.group__latest-message
                まだメッセージがありません
      .chat-main
        .main-header
          .current-group
            %h2.current-group__name
              sample
            %ul.member-list
              Member:
              %li.member-list__member
                tarou
              %li.member-list__member
                yosiko
          %a{href:""}
            .main-header__edit-btn 
              Edit
        .messages
          .message
            .upper-info
              %p.upper-info__user
                tarou
              %p.upper-info__date
                2019/05/13(Sun) 11:33:20
            %p.text
              Hello world!
          .message
            .upper-info
              %p.upper-info__user
                yosiko
              %p.upper-info__date
                2019/05/13(Sun) 11:34:20
            %p.text
              Good bye world!
        .form
          %form.new-message
            %input{type:"hidden"}
            %input{type:"hidden"}
            .input-box
              %input{class:"input-box__text", type:"text", placeholder:"type a message"}
              %label{class:"image-label", for:"message-image"}
                %i.far.fa-image
                %input{class:"image-label__input", type:"file", id:"message-image"}
            %input{class:"new-message__submit-btn", type:"submit", value:"Send"}
