 %div{class:"messages"}
          %div{class:"message"}
            %div{class:"upper-info"}
              %p{class:"upper-info__user"}
                tarou
              %p{class:"upper-info__date"}
                2019/05/13(Sun) 11:33:20
            %p{class:"text"}
              Hello world!
          %div{class:"message"}
            %div{class:"upper-info"}
              %p{class:"upper-info__user"}
                yosiko
              %p{class:"upper-info__date"}
                2019/05/13(Sun) 11:34:20
            %p{class:"text"}
              Good bye world!